{% extends '../base.html' %}



{% block content %}
    <div class="portafolio container">
        {% for porject in projects %}
            <h1>{{project.Project}}</h1>
        {% endfor %}
        <div class="portafolio__card">
            <div class="card__img">
                <img src="" alt="">
            </div>

            <div class="card__title">
                <h2>Title</h2>
            </div>

            <div class="card__paragraph">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quas inventore tempore dolorum in suscipit iusto autem consequuntur quis illo. Perspiciatis facilis minima corrupti. Error autem ad distinctio neque ducimus?</p>
            </div>

            <div class="card__btns">
                <a href="" class="icon">
                    icon 1
                </a>
                <a href="" class="icon">
                    icon 2
                </a>
                <a href="" class="icon">
                    icon 3
                </a>
            </div>
        </div>
    </div>



{% endblock %}